@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Roboto", "Helvetica Neue", Arial, sans-serif; }

/*font-size*/
.fz64 {
  font-size: 64px; }

.fz48 {
  font-size: 48px; }

.fz36 {
  font-size: 36px; }

.fz24 {
  font-size: 24px; }

.fz20 {
  font-size: 20px; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.black {
  font-weight: 900; }

.medium {
  font-weight: 500; }

/**/
/**/
.header {
  background-color: #AA0601;
  padding: 12px 0 12px 0; }
  @media (max-width: 768px) {
    .header {
      padding: 16px 0 0 0; } }
  .header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 1320px;
    padding: 0 12px; }
    @media (max-width: 768px) {
      .header .header-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0px; } }

.header-list li a:hover {
  opacity: 0.8; }

@media (max-width: 768px) {
  h1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.logo {
  background-image: url(../images/logo-white.png);
  background-size: cover;
  width: 80px;
  height: 48.57px;
  padding: 4px 0;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .header-list li {
    padding-left: 64px; }
    @media (max-width: 768px) {
      .header-list li {
        padding-left: 0px;
        width: 50%;
        border: 1px solid white; } }
    .header-list li a {
      background-color: #AA0511;
      color: white;
      display: block;
      font-size: 20px; }
      @media (max-width: 768px) {
        .header-list li a {
          text-align: center;
          padding: 12px 70px; } }
  @media (max-width: 768px) {
    .header-list {
      margin-top: 15.43px; } }

.footer {
  background-color: #AA0601;
  padding: 48px 0 32px 0; }
  @media (max-width: 992px) {
    .footer {
      padding: 48px 0 40px 0; } }

.footer-content, .privacy {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px; }

@media (max-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid white; } }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-manu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-manu li {
    margin-right: 48px; }
    .footer-manu li a {
      color: white; }
  @media (max-width: 768px) {
    .footer-manu {
      display: none; } }

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-social li {
    margin-left: 32px; }
    @media (max-width: 768px) {
      .footer-social li {
        margin-left: 8px; } }
    .footer-social li img {
      max-width: 48px; }
      @media (max-width: 992px) {
        .footer-social li img {
          max-width: 40px; } }
      @media (max-width: 768px) {
        .footer-social li img {
          max-width: 24px; } }

.footer-contact {
  margin-top: 24px;
  border-bottom: 1px solid white;
  padding-bottom: 32px; }
  .footer-contact li a {
    color: white;
    font-size: 36px; }
    @media (max-width: 768px) {
      .footer-contact li a {
        font-size: 16px; } }
  @media (max-width: 768px) {
    .footer-contact {
      margin-top: 0px;
      border-bottom: none;
      padding-bottom: 24px; } }

.material-symbols-outlined {
  font-size: 40px;
  color: white;
  margin-right: 16px; }
  @media (max-width: 768px) {
    .material-symbols-outlined {
      font-size: 20px; } }

.privacy {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .privacy p {
    color: white;
    font-size: 16px; }
    @media (max-width: 768px) {
      .privacy p {
        margin-bottom: 8px; } }
  @media (max-width: 768px) {
    .privacy {
      display: block;
      padding-top: 24px; } }

.privacy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .privacy-list li {
    margin-left: 48px; }
    @media (max-width: 768px) {
      .privacy-list li {
        margin-left: 0;
        margin-bottom: 8px; } }
    .privacy-list li a {
      color: white;
      font-size: 14px; }
      @media (max-width: 768px) {
        .privacy-list li a {
          font-size: 16px; } }
  @media (max-width: 768px) {
    .privacy-list {
      display: block; } }

@media (max-width: 768px) {
  .footer {
    padding: 24px 0; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center;
  height: 787px; }

.banner-content {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  color: #650300;
  text-align: right;
  padding-top: 296px; }
  .banner-content h2 {
    margin-bottom: 4px; }
  .banner-content .btn {
    padding: 6px 12px;
    font-size: 20px;
    background-color: #AA0601;
    color: #FFF; }
  .banner-content .btn:hover {
    color: #AA0601;
    background-color: #FFF;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

h3 {
  color: #650300; }

.pd80 {
  padding: 80px 0; }

/*專業服務*/
.sever {
  background-color: #FBF2F2; }

.sever-content {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  text-align: center; }

.sever-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 33px; }
  .sever-list li {
    width: 24%;
    margin-right: 1%; }
    .sever-list li img {
      max-width: 100px;
      margin-bottom: 24px; }
    .sever-list li h4 {
      font-size: 24px;
      font-weight: bold;
      color: #650300;
      margin-bottom: 8px; }
    .sever-list li p {
      text-align: left; }

/*經典系列*/
.classic-contenrt {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  text-align: center; }

.classic-list {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .classic-list li {
    width: 32.33%;
    margin-right: 2%; }
    .classic-list li:last-child {
      margin-right: 0px; }
    .classic-list li a:hover img {
      opacity: 0.8; }
    .classic-list li a:hover p {
      background-color: #AA0601;
      color: white; }
    .classic-list li p {
      color: #AA0601; }

/*聯名*/
.design {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-position: center;
  text-align: center; }

.design-content {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px; }
  .design-content h3 {
    color: white; }

.design-list {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .design-list li {
    width: 50%; }
    .design-list li p {
      color: #AA0601;
      background-color: white; }

.design-double {
  background-image: url(../images/home-section4-1.png);
  background-position: center;
  background-size: cover;
  height: 240px; }

.design-youth {
  background-image: url(../images/home-section4-2.png);
  background-position: center;
  background-size: cover;
  height: 240px; }

/*顧客推薦*/
.customer {
  text-align: center; }

.customer-content {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px; }

.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .customer-list li {
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    width: 23%;
    margin: 1%; }

.card {
  padding: 16px;
  height: 205px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card .name {
    margin-bottom: 8px; }
  .card span {
    color: #707070;
    font-size: 14px;
    margin-top: auto; }

/*表格*/
.form {
  background-color: #FBF2F2; }

.form-content {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  max-width: 636px;
  margin: 0 auto; }
  .form-content h3 {
    text-align: center;
    margin-bottom: 48px; }
  .form-content p {
    margin-bottom: 24px; }

.title {
  display: block;
  margin-bottom: 8px; }

input[type="text"] {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #000;
  margin-bottom: 16px; }

input[type="textarea"] {
  height: 136px;
  width: 100%;
  padding: 6px 12px 102px;
  border: 1px solid #000;
  margin-bottom: 16px; }

.agree {
  margin-bottom: 48px; }
  .agree input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 4px; }

.submit {
  display: block;
  margin: 0 auto;
  width: 416px;
  color: #FFF;
  padding: 16px;
  border: none;
  font-weight: bold;
  background-color: #AA0601; }

.submit:hover {
  color: #AA0601;
  background-color: #FFF;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer; }

/*rwd*/
@media (max-width: 992px) {
  .sever-list li {
    width: 48%; }
    .sever-list li img {
      max-width: 83px; }
  .classic-list {
    display: block; }
    .classic-list li {
      width: 51%;
      margin: 0 auto 24px; }
      .classic-list li:last-child {
        margin: 0 auto; }
  .design {
    background-image: url(../images/index-bg-sm.png); }
  .design-list {
    margin-top: 48px;
    display: block; }
    .design-list li {
      width: 100%;
      margin-bottom: 24px; }
  .customer-list li {
    width: 48%;
    margin-bottom: 24px; }
  .form-content {
    max-width: 576px; }
    .form-content p {
      font-size: 16px; } }

@media (max-width: 768px) {
  .pd80 {
    padding: 40px 0; }
  .banner {
    background-image: url(../images/home-header-sm.png);
    height: 396px; }
  .banner-content {
    padding-top: 144px; }
    .banner-content p {
      font-size: 16px; }
    .banner-content h2 {
      font-size: 24px;
      margin-bottom: 14px; } }

@media (max-width: 768px) {
  .sever-content > h3, .classic-contenrt > h3, .design-content > h3, .customer-content > h3 {
    font-size: 24px; }
  .sever-list li {
    width: 100%;
    margin-bottom: 33px; }
  .classic-list li {
    width: 100%; }
  .design-double {
    background-image: url(../images/home-section4-1-sm.png); }
  .design-youth {
    background-image: url(../images/home-section4-2-sm.png); }
  .customer-list {
    margin-top: 24px; }
    .customer-list li {
      width: 98%;
      margin: 0 auto 16px; }
      .customer-list li:last-child {
        margin: 0 auto; }
  .form-content {
    max-width: 348px; }
    .form-content input[type="text"], .form-content input[type="textarea"] {
      width: 100%; }
    .form-content button {
      width: 100%; }
  .agree label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.nav {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav > li {
  text-align: center;
  width: 100%;
  border-left: 1px solid #DCDCDC; }
  .nav > li:last-child {
    border-right: 1px solid #DCDCDC; }
  .nav > li a {
    padding: 24px 0;
    font-size: 32px;
    font-weight: 500;
    display: block;
    border-bottom: 8px solid transparent; }
    .nav > li a:hover {
      border-bottom: 8px solid #AA0601; }

.nav-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }

.left-pic {
  background-image: url(../images/product-header-1.png);
  height: 296px;
  background-size: cover;
  background-position: center;
  width: 50%; }

.right-pic {
  background-image: url(../images/product-header-2.png);
  height: 296px;
  background-size: cover;
  background-position: center;
  width: 50%; }

.optical {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px; }
  .optical h1 {
    font-size: 42px;
    text-align: center; }
  .optical > p {
    font-size: 32px;
    text-align: center; }

.optical-list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .optical-list li {
    width: 23.5%;
    margin: 0 1.5% 80px 0px; }
    .optical-list li p {
      color: #000;
      font-size: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .optical-list li p span {
        color: #AA0601;
        font-weight: 500; }

.color {
  position: relative; }
  .color::before {
    content: '';
    position: absolute;
    top: 0px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #5F3E2D; }
  .color::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 32px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #B75929; }

.product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px; }
  .product-page li {
    border: 1px solid #555555;
    border-right: none;
    font-size: 18px; }
    .product-page li:last-child {
      border-right: 1px solid #555555; }
    .product-page li a {
      display: block;
      color: #000;
      padding: 12px 16px; }
      .product-page li a:hover {
        background-color: #000;
        color: #fff;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }

/*rwd*/
@media (max-width: 992px) {
  .nav {
    padding: 0; }
    .nav li a {
      font-size: 24px;
      padding: 16px 0; }
  .left-pic {
    background-image: url(../images/product-header-sm-1.png); }
  .right-pic {
    background-image: url(../images/product-header-sm-2.png); }
  .optical-list {
    margin-bottom: 56px; }
    .optical-list li {
      width: 48%;
      margin: 0 1% 64px; } }

@media (max-width: 768px) {
  .nav > li > a {
    font-size: 16px; }
  .nav-pic {
    margin-bottom: 40px; }
  .left-pic, .right-pic {
    height: 136px; }
  .optical h1 {
    font-size: 24px; }
  .optical > p {
    font-size: 24px;
    margin-bottom: 24px; }
  .optical-list {
    margin-bottom: 40px; }
    .optical-list li {
      width: 98%;
      margin: 0 1% 48px; }
  .product-page {
    margin-bottom: 64px; }
    .product-page li {
      font-size: 16px; }
      .product-page li a {
        padding: 8px 10px; } }

/*太陽眼鏡*/
.sunglass-left-pic {
  width: 50%;
  background-image: url(../images/product-header-3.png);
  height: 296px;
  background-size: cover;
  background-position: center; }

.sunglass-right-pic {
  width: 50%;
  background-image: url(../images/product-header-4.png);
  height: 296px;
  background-size: cover;
  background-position: center; }

.sunglasses-list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .sunglasses-list li {
    width: 31%;
    margin: 0 1% 104px; }
    .sunglasses-list li p {
      color: #000;
      font-size: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .sunglasses-list li p span {
        color: #AA0601;
        font-weight: 500; }

@media (max-width: 992px) {
  .sunglass-left-pic {
    background-image: url(../images/product-header-sm-3.png); }
  .sunglass-right-pic {
    background-image: url(../images/product-header-sm-4.png); }
  .sunglasses-list li {
    width: 48%;
    margin: 0 1% 64px; } }

@media (max-width: 768px) {
  .sunglass-left-pic, .sunglass-right-pic {
    height: 136px; }
  .sunglasses-list {
    margin-bottom: 40px; }
    .sunglasses-list li {
      width: 98%;
      margin: 0 1% 48px; } }

.store {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 12px;
  padding: 96px 12px 80px 12px; }
  .store h1 {
    padding-left: 20px;
    margin-bottom: 32px;
    position: relative; }
    .store h1::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 72px;
      top: 0;
      left: 0;
      background-color: #9F1213;
      margin-right: 16px; }

.chose-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .chose-store select {
    font-size: 18px;
    width: 304px;
    padding: 6px 12px;
    margin-left: 16px; }

.store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #212529;
  margin-top: 41px; }

.store-content {
  width: 31.33%;
  margin: 0 1% 48px; }
  .store-content h2 {
    padding: 8px 24px;
    border: 1px solid #00000020;
    font-size: 24px; }

.store-contact {
  border: 1px solid #00000020;
  padding: 16px 24px; }
  .store-contact li {
    margin-bottom: 8px;
    font-size: 20px; }

.store-detail {
  display: block;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 19px;
  padding: 16px; }
  .store-detail:hover {
    background-color: #212529;
    color: white;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.store-icon {
  color: #212529;
  font-size: 18px;
  margin-right: 8px; }

/*rwd*/
@media (max-width: 992px) {
  .store {
    padding: 80px 12px; }
  .store-content {
    width: 48%;
    margin: 0 1% 24px; } }

@media (max-width: 768px) {
  .store {
    padding-top: 40px;
    padding-bottom: 64px; }
    .store h1 {
      font-size: 24px;
      margin-bottom: 24px; }
      .store h1::before {
        width: 8px;
        height: 36px; }
  .chose-store p {
    font-size: 16px; }
  .chose-store select {
    width: 276px;
    margin-left: 8px; }
  .store-list {
    margin-top: 24px; }
  .store-content {
    width: 98%; } }

/*# sourceMappingURL=all.css.map */
